// Font Imports
@font-face {
  font-family: "Akira Expanded";
  src: url("AkiraExpanded-SuperBold.woff2") format("woff2"), url("AkiraExpanded-SuperBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Feature Mono Bold";
  src: url("FeatureMono-Bold.woff2") format("woff2"), url("FeatureMono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Feature Mono Thin";
  src: url("FeatureMono-Thin.woff2") format("woff2"), url("FeatureMono-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Feature Mono Regular";
  src: url("FeatureMono-Regular.woff2") format("woff2"), url("FeatureMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*
* Universal
*/

// Variables
$main: #c9c9c9;
$secondary: #b0b5b9;
$bodyCopy: #9498a1;
$darkBodyCopy: rgb(35, 35, 35);

$bodyFont: "Feature Mono Regular", sans-serif;
$bodyFontBold: "Feature Mono Bold", sans-serif;
$bodyFontThin: "Feature Mono Thin", sans-serif;
$linkFont: "Akira Expanded";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: $main;
}

body {
  overflow: hidden;
}

p {
  font-family: $bodyFont;
  font-weight: 100;
  color: $bodyCopy;
  font-size: 24px;

  @media (max-width: 1200px) {
    font-size: 12px;
  }
}

.max-width {
  max-width: 1500px;
}

.app {
  z-index: 99999;
}

/*
* Main Styling
*/
.webgl {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100dvw;
  height: 100dvh;
  display: block;
  z-index: -1000;
}

.css3d {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none !important;
  z-index: -1000;
}

.main-navigation {
  z-index: 99999;
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 10px;

  .hamburger {
    cursor: pointer;
    z-index: 99999999999999;
    position: fixed;
    top: 50px;
    right: 50px;

    #ham1 {
      transform-origin: left;
      background-color: white;
    }

    #ham2 {
      transform-origin: left;
      background-color: white;
    }

    span {
      width: 32px;
      height: 2px;
      display: block;
      position: relative;
      margin-bottom: 10px;
    }
  }

  .wrapper {
    opacity: 0;
    padding: 30px;
    background-color: rgba(61, 61, 61, 0.434);
    backdrop-filter: blur(10px);
    width: 255px;
    height: 400px;
    display: none;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    position: relative;

    .info {
      position: absolute;
      bottom: 10px;
      right: 0px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 0;
      padding: 10px 20px;
      width: 100%;

      .freelance {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;

        .availableIcon {
          display: block;
          position: relative;
          width: 10px;
          height: 10px;
          background-color: rgb(138, 192, 126);
          // border: 1px solid white;
        }

        p {
          font-size: 14px;
          margin-top: 1px;
          font-weight: 100;
          color: white;
        }
      }
    }

    .linkWrapper {
      height: 22px;
      cursor: pointer;
      display: flex;
      line-height: 23px;
      justify-content: flex-start;
      flex-direction: column;
      overflow: hidden;
      text-decoration: none;
      margin-bottom: 2px;

      .link {
        margin-top: -0.5px;
        font-size: 26px;
        font-family: $bodyFont;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        font-weight: 500;
        z-index: 999999999999;
        letter-spacing: -1px;

        &:visited {
          color: white !important;
        }

        @media (max-width: 800px) {
          font-size: 22px;

          &:active {
            color: orangered;
          }
        }
      }
      .bottomLink {
        color: orangered !important;
      }
    }
  }
}

.whoAmIContainer {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 90%;
  @media (max-width: 1200px) {
    align-items: center;
  }

  .half {
    padding: 0px 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;

    @media (max-width: 1200px) {
      height: auto;
      max-width: none;
      width: 100% !important;
    }
  }

  img {
    width: 100%;
    height: 100%;
    aspect-ratio: 8/7;
    object-fit: cover;

    @media (max-width: 1200px) {
      width: 200px !important;
    }
  }
}

.talkToMeContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;

  @media (max-width: 1200px) {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 50px;
  }

  .half {
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 40%;
    // text-transform: uppercase;

    @media (max-width: 1200px) {
      max-width: 70%;
      height: auto;
    }

    p {
      text-align: left !important;

      a {
        color: $bodyCopy;
        font-weight: 100;
      }
    }
  }
}

.clock {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  font-family: "Helvetica";
  color: $bodyCopy;
  font-weight: 100;

  #clock {
    color: orangered;
    font-size: 14px;
  }

  p {
    letter-spacing: -0.5px;
    font-size: 14px;
    margin-top: 2px;
    font-weight: 900;
    color: white;
  }
}

.whatIDoPage {
  height: 100dvh;
  width: 100dvw;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(27, 27, 27, 0.5);
  backdrop-filter: blur(15px);
  display: none;
  opacity: 0;
  z-index: 9;
  align-items: center;
  justify-content: center;

  .divider {
    height: 50vh;
    display: block;
    width: 1px;
    background-color: $bodyCopy;

    @media (max-width: 1250px) {
      width: 80%;
      height: 1px;
    }
    @media (max-width: 900px) {
      display: none;
    }
  }

  .container {
    max-width: 1500px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    @media (max-width: 1250px) {
      flex-direction: column;
    }

    .jobsWrapper {
      margin-top: -1.2%;
      // border: 1px solid;
      width: 250px;
      height: 50dvh;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;

      @media (max-width: 1250px) {
        height: auto;
        // flex-direction: row;
        width: 80%;
      }

      .jobs {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @media (max-width: 1250px) {
          width: 100%;
          flex-direction: row;
          gap: 30px;
          margin-bottom: 5%;
          justify-content: flex-start;
        }
      }

      .job {
        cursor: pointer;
        // text-transform: uppercase;
        font-family: $bodyFontThin;
        font-family: $darkBodyCopy;
        font-size: 22px;
        font-weight: 100;
        line-height: 1.8;
        transition: 200ms ease;
        text-transform: uppercase;
        text-decoration: none;
        color: $bodyCopy;
        margin-bottom: -10px;

        @media (max-width: 1250px) {
          &:before {
            content: ">";
          }
        }

        @media (max-width: 900px) {
          font-size: 16px;
        }

        &:visited {
          color: $bodyCopy;
        }

        &:hover {
          color: orangered;
        }
      }
    }

    .jobInformation {
      display: flex;
      align-items: flex-end;
      justify-content: center;

      p,
      a {
        color: $bodyCopy;
        text-align: right;
        margin-top: 3px;
      }

      #jobYear {
        font-family: $bodyFont;
        opacity: 0.2;
        font-size: 50px;
        font-style: italic;
        margin-bottom: -10px;

        @media (max-width: 1250px) {
          font-size: 20px !important;
          margin-bottom: -5px;
        }
      }

      #jobType {
        font-family: $bodyFontBold;
        font-weight: 500;
        font-size: 18px;
      }

      #jobSkills {
        font-family: $bodyFontThin;
        line-height: 12px;
        font-size: 13px;
        text-transform: capitalize;
      }

      #jobLink {
        font-size: 18px !important;
        text-decoration: none;
        cursor: pointer;
        color: orangered;
        font-family: $bodyFontThin;
        line-height: 12px;
        font-size: 13px;
        text-transform: capitalize;
      }
    }

    .jobPreview {
      aspect-ratio: 16/9;
      height: 50dvh;
      // border: 1px solid $bodyCopy;
      // border: 1px solid;
      object-fit: cover;
      transition: 0.3s ease;

      @media (max-width: 1250px) {
        height: auto;
        width: 80%;
      }

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}

.desktop {
  display: block;

  @media (max-width: 900px) {
    display: none;
  }
}

.mobile {
  display: none;
  width: 100%;

  @media (max-width: 900px) {
    display: flex;
  }

  img {
    width: 100%;
  }
}
.loader {
  width: 100dvw;
  height: 100dvh;
  background-color: orangered;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999998;
  will-change: opacity;

  .progressBar {
    z-index: 999999;
    background-color: rgb(35, 35, 35);
    height: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: width 0.1s ease;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
  }
  .percentageLoaded {
    font-family: $bodyFontBold;
    color: white;
    font-size: 100px;
    z-index: 999998;
  }
}

.sceneWrapper {
  position: "relative";
  width: "100%";
  height: "100%";
}
.headsUpContainer {
  width: 100dvw;
  height: 200px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @media (max-width: 1200px) {
    height: 100px;
  }

  .instruction {
    border-radius: 50px;
    cursor: pointer;
    padding: 10px 20px 15px 20px;
    border: 1px solid rgba(165, 243, 255, 0.735);
    font-family: $bodyFontThin;
    color: white;
    font-size: 26px;
    // filter: drop-shadow(0px 0px 20px rgba(165, 243, 255, 0.735));
    box-shadow: (0px 0px 20px rgba(165, 243, 255, 0.735));
    transition: 0.3s ease;

    @media (min-width: 1200px) {
      &:hover {
        background-color: rgba(165, 243, 255, 0.435);
        backdrop-filter: blur(3px);
      }
    }
    @media (max-width: 1200px) {
      font-size: 16px;
    }

    &:active {
      scale: 0.95;
    }
  }

  .glowingUnderline {
    z-index: 200;
    background-color: rgba(255, 255, 255, 0.473);
    filter: blur(5px);
    box-shadow: 0px 0px 20px rgba(165, 243, 255, 0.735);
    display: block;
    height: 10px;
    width: 40%;

    @media (max-width: 1200px) {
      width: 55%;
    }
  }
}
