// Font Imports
@font-face {
  font-family: "Akira Expanded";
  src: url("AkiraExpanded-SuperBold.woff2") format("woff2"), url("AkiraExpanded-SuperBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*
* Universal
*/

// Variables
$main: #c9c9c9;
$secondary: #b0b5b9;
$bodyCopy: #9498a1;

$bodyFont: "Helvetica", sans-serif;
$linkFont: "Akira Expanded";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: $main;
  overflow: hidden;
}

p {
  font-family: $bodyFont;
  font-weight: 100;
  color: $bodyCopy;
  font-size: 24px;

  @media (max-width: 1200px) {
    font-size: 12px !important;
  }
}

/*
* Main Styling
*/
.webgl {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100dvw;
  height: 100dvh;
  display: block;
  z-index: -1000;
}

.css3d {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none !important;
  z-index: -1000;
}

// Header
.main-navigation {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;

  .wrapper {
    margin: 20px auto;
    height: 50px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    letter-spacing: -0.5px;

    @media (max-width: 1000px) {
      gap: 5%;
      padding: 25px 20px;
    }
  }

  .linkWrapper {
    height: 20px;
    cursor: pointer;
    display: flex;
    line-height: 22px;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
    text-decoration: none;

    .link {
      margin-top: -0.5px;
      font-size: 22px;
      font-family: $bodyFont;
      text-transform: uppercase;
      color: $bodyCopy;
      font-weight: 500;
      z-index: 100;
      letter-spacing: -1px;
      &:visited {
        color: $bodyCopy !important;
      }

      @media (max-width: 800px) {
        font-size: 12px;
      }
    }
  }
}

.bottomLink {
  color: orangered !important;
}

.whoAmIContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 90%;

  @media (max-width: 1200px) {
    padding: 0px;
    flex-direction: column;
  }

  .third {
    padding: 0px 30px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: 33%;
    text-transform: uppercase;
    text-align: right;

    @media (max-width: 1200px) {
      height: auto;
      max-width: none;
      width: 90% !important;
    }

    img {
      width: 100%;
      aspect-ratio: 8/7;
      object-fit: cover;

      @media (max-width: 1200px) {
        width: 200px !important;
      }
    }
  }
}

.talkToMeContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;

  @media (max-width: 1200px) {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 50px;
  }

  .half {
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 40%;
    text-transform: uppercase;

    @media (max-width: 1200px) {
      max-width: 90%;
      height: auto;
    }

    p {
      text-align: left !important;

      a {
        color: $bodyCopy;
        font-weight: 100;
      }
    }
  }
}

.whatIDo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  height: 100dvh;
  z-index: 999999;

  .work {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .workWrapper {
      padding: 5%;

      ul {
        list-style-type: none;
        li {
          pointer-events: auto;
          cursor: pointer;
          font-size: 40px;
          color: $bodyCopy;
          font-family: "Akira Expanded", sans-serif;
          transition: 0.3s ease;
          transform-origin: left;
        }
      }
    }
  }
}
