@font-face {
  font-family: "Akira Expanded";
  src: url("AkiraExpanded-SuperBold.woff2") format("woff2"), url("AkiraExpanded-SuperBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Feature Mono Bold";
  src: url("FeatureMono-Bold.woff2") format("woff2"), url("FeatureMono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Feature Mono Thin";
  src: url("FeatureMono-Thin.woff2") format("woff2"), url("FeatureMono-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Feature Mono Regular";
  src: url("FeatureMono-Regular.woff2") format("woff2"), url("FeatureMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*
* Universal
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #c9c9c9;
}

body {
  overflow: hidden;
}

p {
  font-family: "Feature Mono Regular", sans-serif;
  font-weight: 100;
  color: #9498a1;
  font-size: 24px;
}
@media (max-width: 1200px) {
  p {
    font-size: 12px;
  }
}

.max-width {
  max-width: 1500px;
}

.app {
  z-index: 99999;
}

/*
* Main Styling
*/
.webgl {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100dvw;
  height: 100dvh;
  display: block;
  z-index: -1000;
}

.css3d {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none !important;
  z-index: -1000;
}

.main-navigation {
  z-index: 99999;
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 10px;
}
.main-navigation .hamburger {
  cursor: pointer;
  z-index: 99999999999999;
  position: fixed;
  top: 50px;
  right: 50px;
}
.main-navigation .hamburger #ham1 {
  transform-origin: left;
  background-color: white;
}
.main-navigation .hamburger #ham2 {
  transform-origin: left;
  background-color: white;
}
.main-navigation .hamburger span {
  width: 32px;
  height: 2px;
  display: block;
  position: relative;
  margin-bottom: 10px;
}
.main-navigation .wrapper {
  opacity: 0;
  padding: 30px;
  background-color: rgba(61, 61, 61, 0.434);
  backdrop-filter: blur(10px);
  width: 255px;
  height: 400px;
  display: none;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.main-navigation .wrapper .info {
  position: absolute;
  bottom: 10px;
  right: 0px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0;
  padding: 10px 20px;
  width: 100%;
}
.main-navigation .wrapper .info .freelance {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.main-navigation .wrapper .info .freelance .availableIcon {
  display: block;
  position: relative;
  width: 10px;
  height: 10px;
  background-color: rgb(138, 192, 126);
}
.main-navigation .wrapper .info .freelance p {
  font-size: 14px;
  margin-top: 1px;
  font-weight: 100;
  color: white;
}
.main-navigation .wrapper .linkWrapper {
  height: 22px;
  cursor: pointer;
  display: flex;
  line-height: 23px;
  justify-content: flex-start;
  flex-direction: column;
  overflow: hidden;
  text-decoration: none;
  margin-bottom: 2px;
}
.main-navigation .wrapper .linkWrapper .link {
  margin-top: -0.5px;
  font-size: 26px;
  font-family: "Feature Mono Regular", sans-serif;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-weight: 500;
  z-index: 999999999999;
  letter-spacing: -1px;
}
.main-navigation .wrapper .linkWrapper .link:visited {
  color: white !important;
}
@media (max-width: 800px) {
  .main-navigation .wrapper .linkWrapper .link {
    font-size: 22px;
  }
  .main-navigation .wrapper .linkWrapper .link:active {
    color: orangered;
  }
}
.main-navigation .wrapper .linkWrapper .bottomLink {
  color: orangered !important;
}

.whoAmIContainer {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 90%;
}
@media (max-width: 1200px) {
  .whoAmIContainer {
    align-items: center;
  }
}
.whoAmIContainer .half {
  padding: 0px 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
}
@media (max-width: 1200px) {
  .whoAmIContainer .half {
    height: auto;
    max-width: none;
    width: 100% !important;
  }
}
.whoAmIContainer img {
  width: 100%;
  height: 100%;
  aspect-ratio: 8/7;
  object-fit: cover;
}
@media (max-width: 1200px) {
  .whoAmIContainer img {
    width: 200px !important;
  }
}

.talkToMeContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
@media (max-width: 1200px) {
  .talkToMeContainer {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 50px;
  }
}
.talkToMeContainer .half {
  height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 40%;
}
@media (max-width: 1200px) {
  .talkToMeContainer .half {
    max-width: 70%;
    height: auto;
  }
}
.talkToMeContainer .half p {
  text-align: left !important;
}
.talkToMeContainer .half p a {
  color: #9498a1;
  font-weight: 100;
}

.clock {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  font-family: "Helvetica";
  color: #9498a1;
  font-weight: 100;
}
.clock #clock {
  color: orangered;
  font-size: 14px;
}
.clock p {
  letter-spacing: -0.5px;
  font-size: 14px;
  margin-top: 2px;
  font-weight: 900;
  color: white;
}

.whatIDoPage {
  height: 100dvh;
  width: 100dvw;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(27, 27, 27, 0.5);
  backdrop-filter: blur(15px);
  display: none;
  opacity: 0;
  z-index: 9;
  align-items: center;
  justify-content: center;
}
.whatIDoPage .divider {
  height: 50vh;
  display: block;
  width: 1px;
  background-color: #9498a1;
}
@media (max-width: 1250px) {
  .whatIDoPage .divider {
    width: 80%;
    height: 1px;
  }
}
@media (max-width: 900px) {
  .whatIDoPage .divider {
    display: none;
  }
}
.whatIDoPage .container {
  max-width: 1500px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 1250px) {
  .whatIDoPage .container {
    flex-direction: column;
  }
}
.whatIDoPage .container .jobsWrapper {
  margin-top: -1.2%;
  width: 250px;
  height: 50dvh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
@media (max-width: 1250px) {
  .whatIDoPage .container .jobsWrapper {
    height: auto;
    width: 80%;
  }
}
.whatIDoPage .container .jobsWrapper .jobs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 1250px) {
  .whatIDoPage .container .jobsWrapper .jobs {
    width: 100%;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 5%;
    justify-content: flex-start;
  }
}
.whatIDoPage .container .jobsWrapper .job {
  cursor: pointer;
  font-family: "Feature Mono Thin", sans-serif;
  font-family: rgb(35, 35, 35);
  font-size: 22px;
  font-weight: 100;
  line-height: 1.8;
  transition: 200ms ease;
  text-transform: uppercase;
  text-decoration: none;
  color: #9498a1;
  margin-bottom: -10px;
}
@media (max-width: 1250px) {
  .whatIDoPage .container .jobsWrapper .job:before {
    content: ">";
  }
}
@media (max-width: 900px) {
  .whatIDoPage .container .jobsWrapper .job {
    font-size: 16px;
  }
}
.whatIDoPage .container .jobsWrapper .job:visited {
  color: #9498a1;
}
.whatIDoPage .container .jobsWrapper .job:hover {
  color: orangered;
}
.whatIDoPage .container .jobInformation {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.whatIDoPage .container .jobInformation p,
.whatIDoPage .container .jobInformation a {
  color: #9498a1;
  text-align: right;
  margin-top: 3px;
}
.whatIDoPage .container .jobInformation #jobYear {
  font-family: "Feature Mono Regular", sans-serif;
  opacity: 0.2;
  font-size: 50px;
  font-style: italic;
  margin-bottom: -10px;
}
@media (max-width: 1250px) {
  .whatIDoPage .container .jobInformation #jobYear {
    font-size: 20px !important;
    margin-bottom: -5px;
  }
}
.whatIDoPage .container .jobInformation #jobType {
  font-family: "Feature Mono Bold", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.whatIDoPage .container .jobInformation #jobSkills {
  font-family: "Feature Mono Thin", sans-serif;
  line-height: 12px;
  font-size: 13px;
  text-transform: capitalize;
}
.whatIDoPage .container .jobInformation #jobLink {
  font-size: 18px !important;
  text-decoration: none;
  cursor: pointer;
  color: orangered;
  font-family: "Feature Mono Thin", sans-serif;
  line-height: 12px;
  font-size: 13px;
  text-transform: capitalize;
}
.whatIDoPage .container .jobPreview {
  aspect-ratio: 16/9;
  height: 50dvh;
  object-fit: cover;
  transition: 0.3s ease;
}
@media (max-width: 1250px) {
  .whatIDoPage .container .jobPreview {
    height: auto;
    width: 80%;
  }
}
.whatIDoPage .container .jobPreview img {
  max-width: 100%;
  max-height: 100%;
}

.desktop {
  display: block;
}
@media (max-width: 900px) {
  .desktop {
    display: none;
  }
}

.mobile {
  display: none;
  width: 100%;
}
@media (max-width: 900px) {
  .mobile {
    display: flex;
  }
}
.mobile img {
  width: 100%;
}

.loader {
  width: 100dvw;
  height: 100dvh;
  background-color: orangered;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999998;
  will-change: opacity;
}
.loader .progressBar {
  z-index: 999999;
  background-color: rgb(35, 35, 35);
  height: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: width 0.1s ease;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
}
.loader .percentageLoaded {
  font-family: "Feature Mono Bold", sans-serif;
  color: white;
  font-size: 100px;
  z-index: 999998;
}

.sceneWrapper {
  position: "relative";
  width: "100%";
  height: "100%";
}

.headsUpContainer {
  width: 100dvw;
  height: 200px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 1200px) {
  .headsUpContainer {
    height: 100px;
  }
}
.headsUpContainer .instruction {
  border-radius: 50px;
  cursor: pointer;
  padding: 10px 20px 15px 20px;
  border: 1px solid rgba(165, 243, 255, 0.735);
  font-family: "Feature Mono Thin", sans-serif;
  color: white;
  font-size: 26px;
  box-shadow: 0px 0px 20px rgba(165, 243, 255, 0.735);
  transition: 0.3s ease;
}
@media (min-width: 1200px) {
  .headsUpContainer .instruction:hover {
    background-color: rgba(165, 243, 255, 0.735);
  }
}
@media (max-width: 1200px) {
  .headsUpContainer .instruction {
    font-size: 16px;
  }
}
.headsUpContainer .instruction:active {
  scale: 0.95;
}
.headsUpContainer .glowingUnderline {
  z-index: 200;
  background-color: rgba(255, 255, 255, 0.473);
  filter: blur(5px);
  box-shadow: 0px 0px 20px rgba(165, 243, 255, 0.735);
  display: block;
  height: 10px;
  width: 40%;
}
@media (max-width: 1200px) {
  .headsUpContainer .glowingUnderline {
    width: 55%;
  }
}
