@font-face {
  font-family: "Akira Expanded";
  src: url("AkiraExpanded-SuperBold.woff2") format("woff2"), url("AkiraExpanded-SuperBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/*
* Universal
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #c9c9c9;
}

body {
  overflow: hidden;
}

p {
  font-family: "Helvetica", sans-serif;
  font-weight: 100;
  color: #9498a1;
  font-size: 24px;
}
@media (max-width: 1200px) {
  p {
    font-size: 12px !important;
  }
}

.max-width {
  max-width: 1500px;
}

.app {
  z-index: 99999;
}

/*
* Main Styling
*/
.webgl {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100dvw;
  height: 100dvh;
  display: block;
  z-index: -1000;
}

.css3d {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none !important;
  z-index: -1000;
}

.main-navigation {
  z-index: 99999;
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 10px;
}
.main-navigation .hamburger {
  cursor: pointer;
  z-index: 99999999999999;
  position: fixed;
  top: 50px;
  right: 50px;
}
.main-navigation .hamburger #ham1 {
  transform-origin: left;
}
.main-navigation .hamburger #ham2 {
  transform-origin: left;
}
.main-navigation .hamburger span {
  width: 32px;
  height: 2px;
  background-color: white;
  display: block;
  position: relative;
  margin-bottom: 10px;
}
.main-navigation .wrapper {
  opacity: 0;
  padding: 30px;
  background-color: rgba(61, 61, 61, 0.434);
  backdrop-filter: blur(10px);
  width: 255px;
  height: 400px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.main-navigation .wrapper .info {
  position: absolute;
  bottom: 10px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 10px 30px;
}
.main-navigation .wrapper .info .freelance {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.main-navigation .wrapper .info .freelance .availableIcon {
  display: block;
  position: relative;
  width: 10px;
  height: 10px;
  background-color: rgb(138, 192, 126);
}
.main-navigation .wrapper .info .freelance p {
  font-size: 12px;
  margin-top: 1px;
  font-weight: 100;
  color: white;
}
.main-navigation .wrapper .linkWrapper {
  height: 22px;
  cursor: pointer;
  display: flex;
  line-height: 23px;
  justify-content: flex-start;
  flex-direction: column;
  overflow: hidden;
  text-decoration: none;
  margin-bottom: 2px;
}
.main-navigation .wrapper .linkWrapper .link {
  margin-top: -0.5px;
  font-size: 26px;
  font-family: "Helvetica", sans-serif;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-weight: 500;
  z-index: 999999999999;
  letter-spacing: -1px;
}
.main-navigation .wrapper .linkWrapper .link:visited {
  color: white !important;
}
@media (max-width: 800px) {
  .main-navigation .wrapper .linkWrapper .link {
    font-size: 18px;
  }
}
.main-navigation .wrapper .linkWrapper .bottomLink {
  color: orangered !important;
}

.whoAmIContainer {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 90%;
}
@media (max-width: 1200px) {
  .whoAmIContainer {
    align-items: center;
  }
}
.whoAmIContainer .half {
  padding: 0px 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
}
@media (max-width: 1200px) {
  .whoAmIContainer .half {
    height: auto;
    max-width: none;
    width: 50% !important;
  }
}
.whoAmIContainer img {
  width: 100%;
  height: 100%;
  aspect-ratio: 8/7;
  object-fit: cover;
}
@media (max-width: 1200px) {
  .whoAmIContainer img {
    width: 200px !important;
  }
}

.talkToMeContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
@media (max-width: 1200px) {
  .talkToMeContainer {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 50px;
  }
}
.talkToMeContainer .half {
  height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 40%;
}
@media (max-width: 1200px) {
  .talkToMeContainer .half {
    max-width: 70%;
    height: auto;
  }
}
.talkToMeContainer .half p {
  text-align: left !important;
}
.talkToMeContainer .half p a {
  color: #9498a1;
  font-weight: 100;
}

.clock {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  font-family: "Helvetica";
  color: #9498a1;
  font-weight: 100;
}
.clock #clock {
  color: orangered;
  font-size: 12px;
}
.clock p {
  letter-spacing: -0.5px;
  font-size: 12px;
  margin-top: 2px;
  font-weight: 900;
  color: white;
}

.whatIDoPage {
  height: 100dvh;
  width: 100dvw;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #e3e3e3;
  background: linear-gradient(221deg, rgb(227, 227, 227) 50%, rgb(124, 124, 124) 100%);
  display: none;
  opacity: 0;
  z-index: 9;
  align-items: center;
  justify-content: center;
}
.whatIDoPage .divider {
  height: 50vh;
  display: block;
  width: 1px;
  background-color: black;
}
.whatIDoPage .container {
  max-width: 1500px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.whatIDoPage .container .jobsWrapper {
  width: 250px;
  height: 50dvh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.whatIDoPage .container .jobsWrapper .job {
  cursor: pointer;
  letter-spacing: -1px;
  font-family: "Helvetica", sans-serif;
  font-family: rgb(35, 35, 35);
  font-size: 22px;
  font-weight: 100;
  transition: 200ms ease;
  text-transform: uppercase;
}
.whatIDoPage .container .jobsWrapper .job:hover {
  color: orangered;
}
.whatIDoPage .container .jobsWrapper .smallText {
  font-size: 16px;
}
.whatIDoPage .container .itemCopyWrapper {
  min-width: 250px;
  opacity: 0;
  display: none;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  max-width: 15%;
  height: 50dvh;
  color: darkBodyCopy !important;
}
.whatIDoPage .container .itemCopyWrapper .itemCopyTop {
  text-align: left;
}
.whatIDoPage .container .itemCopyWrapper .itemCopyTop h1 {
  font-family: "Akira Expanded", sans-serif;
  color: orangered;
  letter-spacing: -1px;
}
.whatIDoPage .container .itemCopyWrapper .itemCopyTop p {
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  color: rgb(35, 35, 35) !important;
}
.whatIDoPage .container .itemCopyWrapper .itemCopyBottom {
  text-align: right;
}
.whatIDoPage .container .itemCopyWrapper .itemCopyBottom p {
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  color: rgb(35, 35, 35) !important;
}
.whatIDoPage .container .jobPreview {
  aspect-ratio: 16/9;
  height: 50dvh;
  object-fit: cover;
  transition: 0.3s ease;
}
.whatIDoPage .container .jobPreview img {
  max-width: 100%;
  max-height: 100%;
}
.whatIDoPage .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 20px;
}
.whatIDoPage .wrapper .contentWrapper {
  max-width: 25%;
}
.whatIDoPage .wrapper .itemShowcase {
  height: 50dvh;
  aspect-ratio: 16/9;
}
.whatIDoPage .wrapper .itemShowcase img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loader {
  width: 100dvw;
  height: 100dvh;
  background-color: rgb(35, 35, 35);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999999;
  will-change: opacity;
}
.loader .progressBar {
  background-color: orangered;
  height: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: width 0.1s ease;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
}
.loader .progressBar h1 {
  font-family: "Akira Expanded";
  color: white;
}
