@font-face {
  font-family: "Akira Expanded";
  src: url("AkiraExpanded-SuperBold.woff2") format("woff2"), url("AkiraExpanded-SuperBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/*
* Universal
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #c9c9c9;
}

body {
  overflow: hidden;
}

p {
  font-family: "Helvetica", sans-serif;
  font-weight: 100;
  color: #9498a1;
  font-size: 24px;
}
@media (max-width: 1200px) {
  p {
    font-size: 12px !important;
  }
}

.app {
  z-index: 99999;
}

/*
* Main Styling
*/
.webgl {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100dvw;
  height: 100dvh;
  display: block;
  z-index: -1000;
}

.css3d {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none !important;
  z-index: -1000;
}

.main-navigation {
  z-index: 99999;
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 10px;
}
.main-navigation .hamburger {
  cursor: pointer;
  z-index: 99999999999999;
  position: fixed;
  top: 50px;
  right: 50px;
}
.main-navigation .hamburger #ham1 {
  transform-origin: left;
}
.main-navigation .hamburger #ham2 {
  transform-origin: left;
}
.main-navigation .hamburger span {
  width: 32px;
  height: 2px;
  background-color: white;
  display: block;
  position: relative;
  margin-bottom: 10px;
}
.main-navigation .wrapper {
  opacity: 0;
  padding: 30px;
  background-color: rgba(89, 89, 89, 0.05);
  backdrop-filter: blur(5px);
  width: 300px;
  height: 500px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}
.main-navigation .wrapper .linkWrapper {
  height: 24px;
  cursor: pointer;
  display: flex;
  line-height: 24px;
  justify-content: flex-start;
  flex-direction: column;
  overflow: hidden;
  text-decoration: none;
  margin-bottom: 5px;
}
.main-navigation .wrapper .linkWrapper .link {
  margin-top: -0.5px;
  font-size: 26px;
  font-family: "Helvetica", sans-serif;
  text-transform: uppercase;
  color: #9498a1;
  font-weight: 500;
  z-index: 999999999999;
  letter-spacing: -1px;
}
.main-navigation .wrapper .linkWrapper .link:visited {
  color: #9498a1 !important;
}
@media (max-width: 800px) {
  .main-navigation .wrapper .linkWrapper .link {
    font-size: 18px;
  }
}
.main-navigation .wrapper .linkWrapper .bottomLink {
  color: orangered !important;
}

.whoAmIContainer {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 90%;
}
.whoAmIContainer .half {
  padding: 0px 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
}
@media (max-width: 1200px) {
  .whoAmIContainer .half {
    height: auto;
    max-width: none;
    width: 90% !important;
  }
}
.whoAmIContainer img {
  width: 100%;
  height: 100%;
  aspect-ratio: 8/7;
  object-fit: cover;
}
@media (max-width: 1200px) {
  .whoAmIContainer img {
    width: 200px !important;
  }
}

.talkToMeContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
@media (max-width: 1200px) {
  .talkToMeContainer {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 50px;
  }
}
.talkToMeContainer .half {
  height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 40%;
}
@media (max-width: 1200px) {
  .talkToMeContainer .half {
    max-width: 90%;
    height: auto;
  }
}
.talkToMeContainer .half p {
  text-align: left !important;
}
.talkToMeContainer .half p a {
  color: #9498a1;
  font-weight: 100;
}

.whatIDoPage {
  height: 100dvh;
  width: 100dvw;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgb(35, 35, 35);
  display: none;
  opacity: 0;
  z-index: 9;
}

.scrollable {
  width: 90dvw;
  height: 95dvh;
  overflow: scroll;
}
